<section data-type="list">
  <ul data-type="edit">
{{#each model.episodes as |episode|}}
    <li>
      <label class="pack-checkbox">
        <input type="checkbox" checked={{episode.watched}} {{action "mark" episode on="change"}} />
        <span></span>
      </label>
      {{#link-to 'episode' model.showID model.seasonNumber episode.number }}
      <p>Episode {{episode.number}}</p>
      <p>{{episode.title}}</p>
      {{/link-to}}
    </li>
{{/each}}
</ul>
</section>

{{outlet}}
