<form role="search" {{action search on="submit"}}>
  <p>
    <input placeholder="Search..." type="text">
    <button type="reset">Clear</button>
  </p>
</form>

{{#if isSearching}}
<i class="fa fa-spinner fa-spin fa-5x"></i>
{{/if}}

{{#if resultCount}}
<div class="show-list-outer">
  <ul class="show-list">
    {{#each results as |show|}}
      <li>
        <img src="{{show.images.poster.thumb}}" class="new-series-list-img">
        <h3>{{show.title}} ({{show.rating}})</h3>
        <p>{{show.overview}}</p>
        {{#unless show.isInDB}}
        <button {{action "add" show}}><i class="fa fa-plus fa-2x"></i></button>
        {{/unless}}
      </li>
    {{else}}
      <p>No results</p>
    {{/each}}
  </ul>
</div>
{{/if}}

{{outlet}}
