<ul>
</ul>

<div class="show-list-outer">
  <ul class="show-list">
{{#each model as |show|}}
    <li>
      {{#link-to 'show' show.id}}
      <img src="{{show.image}}" class="series-list-img">
      <h3>{{show.title}}</h3>
      {{/link-to}}
      <p>{{show.nextEpisodeText}}</p>
      <small>{{show.nextEpisodeDate}}</small>
    </li>
{{/each}}
  </ul>
</div>

{{outlet}}
